@mixin ellipsisText(){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.m-container{

  .m-showcase-overlay{
    position: fixed;
    height: 100vh;
    z-index: 2;
    width: 100vw;
    overflow: hidden;
    background: rgba(14, 14, 14, 0.6);
    bottom: 0;
    top: 0;
    transform: translateZ(0);
    backdrop-filter: blur(6px);

    .m-background{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .m-showcase{
      max-width: 45%;
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: #0e0e0e;
      border-left: 1px solid rgba(255, 255, 255, 0.03);

      @media(max-width: 1200px){
        max-width: 100%;
      }

      img{
        width: 100%;
        max-height: 70vh;
      }

      .m-showcase-bio{
        padding: 40px;
        font-weight: 200;

        & > div:not(.m-description) {
          @include ellipsisText();
        }

        .m-title{
          font-size: 18px;
        }

        .m-subtitle{
          display: flex;
          font-size: 13px;
          color: rgba(255, 255, 255, 0.37);
          margin-top: 15px;

          .m-divider{
            margin: 0px 15px;
          }

          ::v-deep .mdi{
            font-size: 16px;
            color: $m-accent;
            margin-right: 10px;
          }
        }

        .m-close{
          position: absolute;
          right: 40px;
          bottom: 16px;
          padding: 10px 20px;
          opacity: 0;
          cursor: pointer;
          transition: 0.2s;
          will-change: background;

          &:hover{
            background: rgba(255, 255, 255, 0.03);
          }

          @media (max-width: 1200px){
            opacity: 1;
          }
        }

        .m-description{
          margin-top: 21px;
          opacity: 0.4;
          font-size: 15px;
          line-height: 2;
        }
      }
    }
  }

  .m-header{
    height: 30vh;
    position: relative;

    .m-image-background, .m-image-gradient{
      position: absolute;
      height: 110%;
      width: 100%;
    }

    .m-image-background{
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: cover;
      opacity: 0.8;
      background-image: url('~/assets/img/trending.png')
    }

    .m-image-gradient{
      transform: translateZ(0);
      background: linear-gradient(180deg, rgba(18,18,18,0) 0, $m-grey-background);
    }

    .m-title{
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      z-index: 1;
      position: relative;
      font-size: 40px;
      font-weight: 300;
    }
  }

  .m-app{
    max-width: $m-container-width;
    padding: 65px 30px;
    margin: auto;

    .m-movie-listings{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 10px;
      padding: 60px 0px;

      .m-movie{
        line-height: 2.4;
        padding-bottom: 35px;
        cursor: pointer;

        &:hover{

          img{
            filter: brightness(120%);
          }
        }

        .m-movie-title{
          font-size: 14px;
          @include ellipsisText();
        }

        .m-movie-subtitle{
          @include ellipsisText();
          font-size: 13px;
          color: $m-grey-text-light;
        }

        img{
          transition: 0.2s;
          width: 100%;
        }
      }
    }

    .m-controls{
      display: flex;
      font-size: 13px;
      position: sticky;
      top: 0;
      padding: 20px 0px;
      z-index: 2;
      background: $m-grey-background;

      .m-side-controls{
        display: flex;
        width: 100%;
        justify-content: flex-end;
      }

      ::v-deep .m-search{
        max-width: 300px;
        font-size: inherit;
        margin-right: auto;
        font-size: 14px;
        min-width: 20%;
        margin-right: 10px;

        .v-input__prepend-inner{
          padding-left: 2px;
          padding-right: 10px;
        }

        .mdi{
          font-size: 18px;
          color: rgba(255, 255, 255, 0.7);
        }

        input{
          &::placeholder{
            color: rgba(255, 255, 255, 0.3);
          }
        }
      }

      .m-control{
        background: $m-grey-foreground;
        height: 48px;
        display: flex;
        padding: 0 20px;
        align-items: center;
        margin: 0 8px;
        box-shadow: $m-box-shadow;
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.9);
        user-select: none;
        cursor: pointer;
        transition: 0.2s;
        will-change: background;
        width: 100%;
        @include ellipsisText();

        &:hover{
          background: rgb(43, 43, 43)
        }

        &:last-of-type{
          margin-right: 0;
        }

        .m-other{
          margin-left: 8px;
          color: rgba(255, 255, 255, 0.3);
        }

        .mdi{
          margin-right: 13px;
        }
      }

      @media(max-width: 1200px){
        flex-wrap: wrap;

        .m-side-controls{

        }

        .m-search{
          width: 100%;
          max-width: unset;
          margin: 20px 0px;
        }
      }
    }
  }
}

::v-deep .m-star-rating-menu{
  background: $m-grey-foreground;
  padding: 10px 20px;
  width: 100%;



  .v-input{
    font-size: 13px;

    .v-input__prepend-inner, .v-input__append-outer{
      margin-top: 9px;
    }
  }
}

::v-deep .m-age-group-menu{
    .v-list-item__title{
      font-size: 13px;
    }
}

::v-deep .m-genres-menu{
  overflow: auto;
  padding: 20px;

  .v-chip__content{
    font-size: 13px !important;
  }
}
